<div class="side-panel">

	<h3 class="panel-title">Books + Magazines</h3>

	<div class="book" >
		<%= image_tag "ready.png" %>
		<h5><a href="http://www.amazon.com/Ready-Print-Handbook-Media-Designers/dp/389955325X/ref=sr_1_1?s=books&ie=UTF8&qid=1376246965&sr=1-1&keywords=ready+to+print" target="_blank">Ready to Print: Handbook for Media Designers</a></h5>
		<p>Author:  Kristina Nickel</p>
	</div>
	<hr>

	<div class="book" >
		<%= image_tag "identity.png" %>
		<h5><a href="http://www.amazon.com/Identity-Suite-Visual-Stationery/dp/9881943884/ref=pd_sim_b_1" target="_blank">Identity Suite: Visual Identity in Stationery
    </a></h5>
    <p>Publiser:  By Victionary</p>
	</div>
	<hr>

	<div class="book" >
		<%= image_tag "boxed.jpg" %>
		<h5><a href="http://www.amazon.com/exec/obidos/ASIN/0810995298/msstateprintp-20" target="_blank">Boxed and Labelled Two!: New Approaches to Packaging Design</a></h5>
		<p>Authors: R. Klanten, M. Hübner</p>
	</div>
  <hr>

  <div class="book" >
    <a href="http://www.amazon.com/Things-have-learned-life-far/dp/0810995298" target="_blank"><%= image_tag "monkey.jpg" %></a>
    <h5><a href="http://www.amazon.com/Things-have-learned-life-far/dp/0810995298" target="_blank">Things I have learned in my life so far</a></h5>
    <p>Authors: Stefan Sagmeister</p>
  </div>
  <hr>

  <div class="book" >
    <a href="http://www.commarts.com/" target="_blank"><%= image_tag "communication.jpg" %></a>
    <h5><a href="http://www.commarts.com/" target="_blank">Communication Arts</a></h5>
    <p>Magazine</p>
  </div>
	<hr>

  <div class="book" >
    <a href="http://www.printmag.com/" target="_blank"><%= image_tag "print.jpg" %></a>
    <h5><a href="http://www.printmag.com/" target="_blank">Print</a></h5>
    <p>Magazine</p>
  </div>
  <hr>

</div>