<div class="side-panel">

	<h3 class="panel-title">Books + Magazines</h3>

	<div class="book" style="margin-top:30px" >
    <a href="http://www.amazon.com/Print-Production-Handbook-David-Bann/dp/294036138X/ref=sr_1_2?ie=UTF8&qid=1376887550&sr=8-2&keywords=The+All+New+Print+Production+Handbook" target="_blank"><%= image_tag "book.jpg" %></a>
    <h5>
      <a href="http://www.amazon.com/Print-Production-Handbook-David-Bann/dp/294036138X/ref=sr_1_2?ie=UTF8&qid=1376887550&sr=8-2&keywords=The+All+New+Print+Production+Handbook" target="_blank">The All New Print Production Handbook 
        <br>-<br>
        <span class="subtitle">
          David Bann
        </span>
      </a>
    </h5>
    <p></p>
  </div>
  <hr>

  <div class="book">
		<a href="http://www.amazon.com/Ready-Print-Handbook-Media-Designers/dp/389955325X/ref=sr_1_1?s=books&ie=UTF8&qid=1376246965&sr=1-1&keywords=ready+to+print" target="_blank"><%= image_tag "ready.png" %></a>
		<h5>
      <a href="http://www.amazon.com/Ready-Print-Handbook-Media-Designers/dp/389955325X/ref=sr_1_1?s=books&ie=UTF8&qid=1376246965&sr=1-1&keywords=ready+to+print" target="_blank">Ready to Print 
        <br>-<br>
        <span class="subtitle">
          Handbook for <br>  
          Media Designers
        </span>
      </a>
    </h5>
		<p></p>
	</div>
	<hr>

  <div class="book">
    <a href="http://www.amazon.co.uk/extra-Encyclopaedia-Experimental-Print-Finishing/dp/3034600836/ref=sr_1_1?ie=UTF8&qid=1376887269&sr=8-1&keywords=extra+encyclopedia+for+print+finishing" target="_blank"><%= image_tag "extra.jpg" %></a>
    <h5>
      <a href="http://www.amazon.co.uk/extra-Encyclopaedia-Experimental-Print-Finishing/dp/3034600836/ref=sr_1_1?ie=UTF8&qid=1376887269&sr=8-1&keywords=extra+encyclopedia+for+print+finishing" target="_blank">Extra 
        <br>-<br>
        <span class="subtitle">
          Encyclopaedia <br> of Experimental <br> Print Finishing
        </span>
      </a>
    </h5>
    <p></p>
  </div>
  <hr>

	<div class="book" >
		<a href="http://www.amazon.com/Identity-Suite-Visual-Stationery/dp/9881943884/ref=pd_sim_b_1" target="_blank"><%= image_tag "identity.png" %></a>
		<h5><a href="http://www.amazon.com/Identity-Suite-Visual-Stationery/dp/9881943884/ref=pd_sim_b_1" target="_blank">Identity Suite 
      <br>-<br> 
      <span class="subtitle">
        Visual Identity <br>in Stationery
      </span>
    </a></h5>
	</div>
	<hr>

	<div class="book" >
		<a href="http://www.amazon.com/Boxed-Labelled-Two-Approaches-Packaging/dp/3899553780/ref=sr_1_1?s=books&ie=UTF8&qid=1376247005&sr=1-1&keywords=boxed+and+labelled" target="_blank"><%= image_tag "boxed.jpg" %></a>
		<h5>
      <a href="http://www.amazon.com/Boxed-Labelled-Two-Approaches-Packaging/dp/3899553780/ref=sr_1_1?s=books&ie=UTF8&qid=1376247005&sr=1-1&keywords=boxed+and+labelled" target="_blank">Boxed and <br>Labelled Two!
        <br>-<br> 
        <span class="subtitle">
          New Approaches to Packaging Design
        </span>
        </a></h5>
		
	</div>
  <hr>

  <div class="book" >
    <a href="http://www.amazon.com/Things-have-learned-life-far/dp/0810995298" target="_blank"><%= image_tag "monkey.jpg" %></a>
    <h5>
      <a href="http://www.amazon.com/Things-have-learned-life-far/dp/0810995298" target="_blank">Things I have <br>learned in <br> my life so far
        <br>-<br>
        <span class="subtitle">
          Stefan <br>Sagmeister
        </span>
      </a>
    </h5>
  </div>
  <hr>

  <div class="book" >
    <a href="http://www.commarts.com/" target="_blank"><%= image_tag "communication.jpg" %></a>
    <h5><a href="http://www.commarts.com/" target="_blank">Communication <br>
      Arts
    
    <br>-<br>
    <span class="subtitle">
      Magazine
    </span></a>
  </h5>
    <p></p>
  </div>
	<hr>

  <div class="book" >
    <a href="http://www.printmag.com/" target="_blank"><%= image_tag "print.jpg" %></a>
    <h5><a href="http://www.printmag.com/" target="_blank">Print
    <br>-<br>
    <span class="subtitle">
      Magazine
    </span></a>
  </a></h5>
  </div>
  <hr>

</div>