<div class="row">
	<div class="col-lg-8" id="posts">
		<h1 class="page-header">Resources</h1>
		<% @posts.each do |p| %>

			<% if p.video? %>
				<% regex = /src="\S+"/ %>
				<iframe <%= raw(p.video[regex]) %> width="100%" height="405" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
			<% end %>

			<%= image_tag p.image_1_url if p.image_1? %>
			<%= image_tag p.image_2_url if p.image_2? %>
			<%= image_tag p.image_3_url if p.image_3? %>
			<br>
			<br>
			<small class="badge"><%= p.created_at.to_formatted_s(:short) %></small>

			<h3><%= p.title %></h3>
			<p><%= p.description %></p>
			<p>Tags: <%= raw p.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></p>
			

			<p><a href="<%= p.link %>"><%= p.link %></a></p>
			
			<hr>
		<% end %>

	</div>
  <div class="col-lg-4">
  	<div class="panel" id="tag_cloud">
  		<div class="panel-heading">
  			<h3 class="panel-title">Sort by Category</h3>

  		</div>
  		<% tag_cloud Post.tag_counts, %w[s m l] do |tag, css_class| %>
			    <%= link_to tag.name, tag_path(tag.name), class: css_class %>
			  <% end %>
  	</div>

  	<div class="panel">
  		<div class="panel-heading">
  			<h3 class="panel-title">Sort by Assignment</h3>
  		</div>
  	</div>
  	
  	

  </div>
</div>
