<div class="row">
	<div class="col-lg-8" id="posts" style="width:69%">
		<% if params[:assignment] %>
			<h1 class="page-header">Resources for <%= @assignment.title %> </h1>
		<% else %>
			<h1 class="page-header">Resources</h1>
		<% end %>

		<% @posts.each do |p| %>
			<div class="post">
				<small class="date"><%= p.created_at.to_date.to_formatted_s(:long) %></small>
				<h3><%= p.title %></h3>

				<% if p.video? %>
					<% regex = /src="\S+"/ %>
					<iframe <%= raw(p.video[regex]) %> width="100%" height="405" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
				<% end %>

				<%= image_tag p.image_1_url if p.image_1? %>
				<%= image_tag p.image_2_url if p.image_2? %>
				<%= image_tag p.image_3_url if p.image_3? %>
				

				
				<p class="description"><%= p.description %></p>
				<p class="tags">Tags: <%= raw p.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></p>


				<p><a class="post_link" href="<%= p.link %>" target="_blank"><%= p.link %></a></p>


				<div class="pixel_pattern"></div>
				
				<!-- <hr> -->
			</div>
				
		<% end %>

	</div>

  <div class="col-lg-4 col-lg-offset-0" id="side-panel" style="width:26%; float:right">
  <!-- <div class="col-lg-4"> -->


  	<div class="side-panel" id="tag_cloud">
  		
  		<h3 class="panel-title">Sort by Category</h3>
  		<% tag_cloud Post.tag_counts, %w[s m l] do |tag, css_class| %>
			    <%= link_to tag.name, tag_path(tag.name), class: css_class %>
			  <% end %>
  	</div>

  	<div class="side-panel">
  		<div class="">
  			<h3 class="panel-title">Sort by Assignment</h3>
  		</div>
  		<% Assignment.next.each do |a| %>
  			<p><a href="/?assignment=<%= a.id %>"><%= a.title %> </a><i style="font-size:0.8em">due <%= a.due_date.to_formatted_s(:long) %></i></p>
  		<% end %>
  	</div>

  	<%= render "pages/book" %>
  	

  </div>
</div>
