<!DOCTYPE html>
<html>
<head>
  <title>CDES 3225</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon_32x32.ico' %>
  <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700|Cardo:400,400italic' rel='stylesheet' type='text/css'>
</head>
<body style="padding-top: 70px;">
	<div class="container">
		<% flash.each do |key, value| %>
			<%= content_tag(:div, value, class: "alert alert-#{key}", style: "margin-top: 20px") %>
		<% end %>
		<%= render "layouts/nav" %>
		<%= yield %>
		<%= render "layouts/footer" %>
	</div>
</body>
</html>
